body {
	background: url(https://wallpapercave.com/wp/wp2436369.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
}

html {
	height: 100%;
}

#content {
	color: white;
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px black;
}

h1 {
	font-weight: 700;
	/*font-size: 5em;*/
}

hr {
	width: 500px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}